{% load static %}

{% block body %}

<html>
<head>
<title>Blood Bank Management System || About Us</title>

<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
	<script src="{% static 'js/jquery.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/style.css' %}"  type="text/css" media="all">
<!-- Custom Theme files -->

<link rel="stylesheet" href="{% static 'css/touchTouch.css' %}" type="text/css" media="all" />
<!-- Custom Theme files -->

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<!---//End-css-style-switecher----->
<script type="text/javascript" src="{% static 'js/jquery.fancybox.js' %}"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.css' %}" media="screen" />
	   <script type="text/javascript">
			$(document).ready(function() {
				/*
				 *  Simple image gallery. Uses default settings
				 */

				$('.fancybox').fancybox();

			});
		</script>

</head>
<body>
<!---->
{% include 'navigationbar.html' %}
<div class="about content">
	 <div class="container">
		 <ol class="breadcrumb">
		  <li><a href="{% url 'home' %}">Home</a></li>
		  <li class="active">About</li>
		 </ol>

		 <h2>About Us</h2>

     </div>
 {% include 'footer.html' %}
</div>

</body>

</html>
{% endblock %}