{% load static %}

{% block body %}
<html>
<head>
<title>Online DJ Management System || Contact Us</title>
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link rel="stylesheet" href="{% static 'css/style.css' %}"  type="text/css" media="all">
<link rel="stylesheet" href="{% static 'css/touchTouch.css' %}" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="{% static 'js/jquery.min.js' %}"></script>

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<!---//End-css-style-switecher----->
<script type="text/javascript" src="js/jquery.fancybox.js"></script>
		<link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css" media="screen" />
	   <script type="text/javascript">
			$(document).ready(function() {
				$('.fancybox').fancybox();

			});
		</script>

</head>
<body>
{% include 'navigationbar.html' %}
<div class="contact content">
	 <div class="container">
		 <ol class="breadcrumb">
		  <li><a href="{% url 'home' %}">Home</a></li>
		  <li class="active">Contact</li>
		 </ol>

		 <h2>Contact Us</h2>
		 <div class="contact-main">
             <h4 style="color: white"><span class="glyphicon glyphicon-home" aria-hidden="true">  XXXXXXXXX </span></h4>
			 	<br>
			 	<h4 style="color: white"><span class="glyphicon glyphicon-envelope" aria-hidden="true"> myemail@gmail.com </span></h4>
			 		<br>
			 		<h4 style="color: white"><span class="glyphicon glyphicon-phone" aria-hidden="true"> +91 9999999999 </span></h4>


			 <div class="contact-grids">
				 <div class="col-md-6 contact-left">
					 <p>or drop a message we will reply you soon, </p>
					 <form method="post">
						{% csrf_token %}
						 <ul>
							 <li class="text-info">Name: </li>
							 <li><input type="text" class="text" name="name" required="true" ></li>
						 </ul>
						 <ul>
							 <li class="text-info">Email: </li>
							 <li><input type="text" class="text" name="email" required="true"></li>
						 </ul>
						 <ul>
							 <li class="text-info">Mobile Number: </li>
							 <li><input type="text" class="text" name="mobnum" required="true" maxlength="10" pattern="[0-9]+"></li>
						 </ul>
						 <ul>
							 <li class="text-info">Message:</li>
							 <li><textarea value="Write here" name="message" required="true"></textarea></li>
						 </ul>
						 <input type="submit" name="submit" value="Submit">
					 </form>
				 </div>
				 <div class="col-md-6 contact-right">
					 	<div class="contact-map">
		                  	<iframe src="https://www.google.com/maps/d/embed?mid=17tkzmG8256_xUXDG5BYue1gZwRI&hl=en" width="640" height="480"></iframe>
						</div>
				 </div>
				 <div class="clearfix"></div>
			 </div>
		 </div>
		{% include 'footer.html' %}
	 </div>
</div>
<!---->

<!---->
</body>
</html>


{% ifequal error "no" %}
<script>
    alert('Your Message Has Been Send. We Will Contact You Soon');
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert('Something Went Wrong , Try Again...');
</script>
{% endifequal %}

{% endblock %}